<form [formGroup]="startingAddressForm" novalidate>
    <div formGroupName="address">
        <div class="form-group">
            <label class="center-block">Address:
                <input class="form-control" formControlName="street">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Apartment #:
                <input class="form-control" formControlName="apt">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">City:
                <input class="form-control" formControlName="city">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">State:
                <select class="form-control" formControlName="state">
                    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Zip:
                <input class="form-control" formControlName="zipCode">
            </label>
        </div>
    </div>
</form>
<p>Start Address:</p>
<p>{{ startingAddressForm.value | json}}</p>
<p>{{ startingAddressForm.status | json }}</p>
<!-- For Template driven forms.
<div [hidden]="submitted">
    <div class="col-sm-8">
        <h1>Where are you starting?</h1>
        <form #routeForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group">
                <label for="address-line-1" class="control-label col-sm-2">Address Line 1:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address-line-1" required [(ngModel)]="model.line1" name="address-line-1" #line1="ngModel">
                    <div [hidden]="line1.valid || !line1.touched" class="alert alert-danger">
                        Address is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address-line-2" class="control-label col-sm-2">Address Line 2:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address-line-2" [(ngModel)]="model.line2" name="address-line-2" />
                </div>
            </div>
            <div class="form-group">
                <label for="depart-city" class="control-label col-sm-2">City:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="depart-city" [(ngModel)]="model.city" name="city" required #city="ngModel" />
                    <div [hidden]="city.valid || !city.touched" class="alert alert-danger">
                        City is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="control-label col-sm-2">State:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="state" required [(ngModel)]="model.state" name="state">
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                        <div [hidden]="city.valid || !city.touched" class="alert alert-danger">
                            State is required
                        </div>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="zip" class="control-label col-sm-2">Zip Code:</label>
                <div class="col-sm-3">
                    <input type="text" id="depart-zip" class="form-control" required minlength="5" maxlength="5" [(ngModel)]="model.zip" name="zip" #zip="ngModel" />
                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="alert alert-danger">
                        <div [hidden]="!zip.errors.required">
                            Zip is required
                        </div>
                        <div [hidden]="!zip.errors.minlength">
                            Zip must be 5 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>When are you leaving?</h3>
                <br>
                <label class="control-label col-sm-4 checkbox-inline"> Enter a Range of Dates</label>
                <input type="checkbox" value="test" />
                <label class="control-label col-sm-4 checkbox-inline">
                    <input type="checkbox" value=""> Enter a Single Date</label>
                <input type="date" name="departure" placeholder="Earliest start" class="form-control" required>
                <input type="date" name="departure" placeholder="Latest start" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!routeForm.form.valid">Submit</button>
        </form>
        <button type="button" class="btn btn-default" (click)="newAddress(); routeForm.reset()">Clear Form</button>
    </div>
</div>
<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Address:</div>
        <div class="col-xs-9  pull-left">{{ model.line1 }}, {{ model.line2 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">City:</div>
        <div class="col-xs-9 pull-left">{{ model.city }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">State:</div>
        <div class="col-xs-9 pull-left">{{ model.state }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Zip:</div>
        <div class="col-xs-9 pull-left">{{ model.zip }}</div>
    </div>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div> -->
<!-- <div class="modal" id="midstops-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="midstops-modal-content">
            <div class="modal-header" id="midstops-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mid Stops Header</h4>
            </div>
            <div class="modal-body" id="midstops-modal-body">
                <div id="midstops" class="tab-pane fade in active">
                    <div class="col-xs-12">
                        <div class="form-group" id="midstops-address">
                            <label>Where would you like to stop?</label>
                            <input type="text" class="form-control" id="address-1" placeholder="Address" />
                            <input type="text" class="form-control" id="address-2" placeholder="Apartment Number" />
                            <div class="form-inline">
                                <input type="text" class="form-control" id="depart-city" placeholder="City" />
                                <input type="text" maxlength="2" class="form-control" id="depart-state" placeholder="STATE" size="5px" />
                                <input type="text" placeholder="Zip" id="depart-zip" class="form-control" size="10px" />
                            </div>
                            <div class="row">
                                <label>When will you be ready to leave again?</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="test"> Enter a Range</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value=""> Enter single date</label>
                                <input type="date" name="departure" placeholder="Earliest start" class="form-control">
                                <input type="date" name="departure" placeholder="Latest start" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="midstops-modal-footer">
                <ul class="pager">
                    <li class="previous"><a class="btn btn-md" data-dismiss="modal" data-toggle="modal" data-target="#start-modal">Previous</a></li>
                    <li class="next"><a class="btn btn-md" data-toggle="modal" data-target="#destination-modal" data-dismiss="modal">  Next  </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="destination-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="destination-modal-content">
            <div class="modal-header" id="destination-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Destination Header</h4>
            </div>
            <div class="modal-body" id="destination-modal-body">
                <div id="destination" class="tab-pane fade in active">
                    <div class="col-xs-12">
                        <div class="form-group" id="destination-address">
                            <label>Where do you want to go?</label>
                            <input type="text" class="form-control" id="address-1" placeholder="Address" />
                            <input type="text" class="form-control" id="address-2" placeholder="Apartment Number" />
                            <div class="form-inline">
                                <input type="text" class="form-control" id="depart-city" placeholder="City" />
                                <input type="text" maxlength="2" class="form-control" id="depart-state" placeholder="STATE" size="5px" />
                                <input type="text" placeholder="Zip" id="depart-zip" class="form-control" size="10px" />
                            </div>
                            <div class="row">
                                <label>When do you want get there?</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value=""> Enter a Range</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value=""> Enter single date</label>
                                <input type="date" name="destination" placeholder="Earliest arrival" class="form-control">
                                <input type="date" name="destination" placeholder="Latest arrival" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="destination-modal-footer">
                <ul class="pager">
                    <li class="previous"><a class="btn btn-md" data-dismiss="modal" data-toggle="modal" data-target="#midstops-modal">Previous</a></li>
                    <li class="next"><a href="#passengers-modal" class="btn btn-md" data-toggle="modal" data-target="#passengers-modal" data-dismiss="modal">  Next  </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="passengers-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="passengers-modal-content">
            <div class="modal-header" id="passengers-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Passenger Header</h4>
            </div>
            <div class="modal-body" id="passengers-modal-body">
                <div id="passengers" class="tab-pane fade in active">
                    <div class="form-group">
                        <div class "row">
                            <div class="col-xs-2">
                                <label for="adults">Adults:</label>
                                <input type="number" placeholder="1" id="num-adults" class="form-control" min="0" max="10" style="width: 3em">
                            </div>
                            <div class="col-xs-2">
                                <label for="children">Children:</label>
                                <input type="number" placeholder="0" id="num-children" class="form-control" min="0" max="10" style="width: 3em">
                            </div>
                            <div class="col-xs-2">
                                <label for="pets">Pets:</label>
                                <input type="number" placeholder="0" id="num-pets" class="form-control" min="0" max="10" style="width: 3em">
                            </div>
                            <div class="col-xs-2">
                                <label for="luggage">Luggage:</label>
                                <input type="number" placeholder="0" id="num-luggage" class="form-control" min="0" max="40" style="width: 3em">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="passengers-modal-footer">
                <ul class="pager">
                    <li class="previous"><a class="btn btn-md" data-dismiss="modal" data-toggle="modal" data-target="#destination-modal">Previous</a></li>
                    <li class="next"><a href="#-modal" class="btn btn-md" data-toggle="modal" data-target="#options-modal" data-dismiss="modal">  Next  </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="options-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="options-modal-content">
            <div class="modal-header" id="option-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Options Header</h4>
            </div>
            <div class="modal-body" id="options-modal-body">
                <div id="options" class="tab-pane fade in active">
                    <div class="form-group">
                        <div class "row">
                            <ul id="options">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Driving a car</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Take a plane</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Driving an RV</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Take a boat</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Driving a boat</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Taking a train</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Riding a bus</label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value=""> Using a ridshare like Uber or Lyft</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="options-modal-footer">
                <ul class="pager">
                    <li class="previous"><a class="btn btn-md" data-dismiss="modal" data-toggle="modal" data-target="#passengers-modal">Previous</a></li>
                    <li class="next"><a class="btn btn-md" data-dismiss="modal">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
