/*@media only screen and (max-device-width: 480px) {*/

.navbar {
    background: none;
    position: relative;
    border: none;
}

.navbar a {
    color: #FFFFFF;
}

.navbar a:hover {
    color: #E0162B;
}

.navbar .navbar-toggle {
    background: #E0162B
}
a {
	font-size: 3.5vh;
}

/*}*/
