/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto;
    color: #FFFFFF;
}

body {
    background: #0052A5;
}
/* Old Glory Red #E0162B */
/* Pure white #FFFFFF */
/* Old Glory Blue #0052A5 */